@import url("http://fonts.googleapis.com/css?family=Oswald");

@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro");
/**
 * Variables
 */
/* Monospace */
/* -- [ Functions ] --------------------------------------------------------------------------*/
.iconbefore {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
}
.iconafter {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  text-align: right;
}
.contentbox {
  /*background: rgba(255,255,255,0.55);
	background-size: 50px;
	border:1px solid rgba(0,0,0,0.2);
	border-right-width:0;
	border-bottom-width:0;
	-webkit-box-shadow:
		0 .267em .8em rgba(0,0,0,0.055),
		inset 0 0 0 1px rgba(255,255,255,0.9);*/

  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right-width: 0;
  border-bottom-width: 0;
}
/* -- [ Objects ] --------------------------------------------------------------------------*/
.icon_date {
  display: inline;
}
.icon_date:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f073";
}
.icon_external {
  display: inline-block;
}
.icon_external:after {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  text-align: right;
  content: "\f08e";
}
.icon_video:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f03d";
}
.icon_status:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f0e7";
}
.icon_audio:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f025";
}
.icon_comment:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f075";
}
.icon_link:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f0c1";
}
.icon_folder:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f07b";
}
.icon_tag:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f02b";
}
/* -- [ Mixins ] --------------------------------------------------------------------------*/
/**
 * Animation
 */
@-webkit-keyframes fadein {
  from {
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
  to {
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
body#tinymce.wp-editor {
  font-family: 'Open Sans', sans-serif;
  margin: 1em;
  font-size: 1.125em;
  line-height: 1.5;
  padding-right: 31%;
  color: #666666;
}
body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5 {
  font-family: 'Open Sans', sans-serif;
}
body#tinymce.wp-editor code,
body#tinymce.wp-editor pre {
  background: rgba(0, 0, 0, 0.05);
  padding: 0.1em 0.201em;
  -webkit-border-radius: 0.201em;
  -moz-border-radius: 0.201em;
  border-radius: 0.201em;
  color: #dc5494;
  margin: 0 .201em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
body#tinymce.wp-editor a {
  color: #49a0a0;
}
