/*-- [ WooCommerce styles ] ----------------------------------------------------------------------------------------------*/
/*-- [ Imports ] ----------------------------------------------------------------------------------------------*/
/**
 * Variables
 */
/* Monospace */
/* -- [ Functions ] --------------------------------------------------------------------------*/
.iconbefore {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
}
.iconafter {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  float: right;
  text-align: right;
}
.contentbox {
  /*background: rgba(255,255,255,0.55);
	background-size: 50px;
	border:1px solid rgba(0,0,0,0.2);
	border-right-width:0;
	border-bottom-width:0;
	-webkit-box-shadow:
		0 .267em .8em rgba(0,0,0,0.055),
		inset 0 0 0 1px rgba(255,255,255,0.9);*/

  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right-width: 0;
  border-bottom-width: 0;
}
/* -- [ Objects ] --------------------------------------------------------------------------*/
.icon_date {
  display: inline;
}
.icon_date:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f073";
}
.icon_external {
  display: inline-block;
}
.icon_external:after {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  float: right;
  text-align: right;
  content: "\f08e";
}
.icon_video:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f03d";
}
.icon_status:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f0e7";
}
.icon_audio:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f025";
}
.icon_comment:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f075";
}
.icon_link:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f0c1";
}
.icon_folder:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f07b";
}
.icon_tag:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  content: "\f02b";
}
/* -- [ Mixins ] --------------------------------------------------------------------------*/
/**
 * Animation
 */
@-webkit-keyframes fadein {
  from {
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
  to {
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
body {
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*-- [ Mobile Styles ] ----------------------------------------------------------------------------------------------*/
/*-- [ Desktop Styles ] ----------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  #content.woocommerce {
    padding-left: 5.6%;
    width: 59.8%;
  }
}
.post-type-archive-product .woocommerce ul.products {
  display: block;
  width: 105.55555555555554%;
  margin-left: -2.777777777777778%;
  margin-right: -2.777777777777778%;
  *width: 105.50347222222221%;
  *margin-left: -2.8298611111111116%;
  *margin-right: -2.8298611111111116%;
  *zoom: 1;
}
.post-type-archive-product .woocommerce ul.products:before,
.post-type-archive-product .woocommerce ul.products:after {
  content: "";
  display: table;
}
.post-type-archive-product .woocommerce ul.products:after {
  clear: both;
}
.post-type-archive-product .woocommerce ul.products li.product {
  display: inline;
  float: left;
  width: 27.77777777777778%;
  margin-left: 2.777777777777778%;
  margin-right: 2.777777777777778%;
  *width: 27.725694444444446%;
  *margin-left: 2.7256944444444446%;
  *margin-right: 2.7256944444444446%;
}
